.two-column-container {
    display: flex;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column; /* Stack items vertically by default */
}

@media (min-width: 768px) {
    .two-column-container {
        flex-direction: row; /* Switch to side-by-side layout for screens wider than 768px */
    }
}

.image-column {
    flex: 1;
    display: flex;
    align-items: stretch;
}

.image-column img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-column {
    flex: 1;
    margin: 0;
    padding-left: 10%;
}

.text-column .title {
    font-size: 2rem;
    margin: 0;
    color: #FD6921;
}

.text-column .description {
    font-size: 1.5rem;
    margin: 0;
    color: #FFFFFF;
}